@import '../../../styles/sass/root';

.navbar {
    width: 100%;
    height: $laptop_header_height;
    padding: 0 205px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoAndNav {
    display: flex;
    gap: 50px;

    img {
        width: 121px;
        height: 33px;
    }
}