$mobile_header_height: 80px;
$laptop_header_height: 90px;

$poppins_medium: "Poppins Medium", Helvetica, sans-serif;
$poppins_bold: "Poppins Bold", Helvetica, sans-serif;

$filter_white:invert(95%) sepia(97%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);
$filter_cyan:invert(89%) sepia(90%) saturate(3949%) hue-rotate(128deg) brightness(84%) contrast(91%);
