@import "../../../styles/sass/root";

.searchSection {
  padding: 50px 205px;
  background-color: lighten($neutral_gray, 20%);
}

.itemsContainer {
  padding: 40px;
  margin-top: -120px;
  height: 140px;
  display: flex;
  gap: 15px;
  border-radius: 4px;
  background-color: $primary_dark_violet;
  background-image: url('../../../../public/images/bg-shorten-desktop.svg');
}

.emailAndError {
  position: relative;
  width: 80%;
  height: 100%;

  .email {
    @include input($color_white, 8px, 16px);
    height: 100%;
    width: 100%;
  }

  .inputError {
    border: 3px solid $secondary_red;

    &::placeholder {
      color: $secondary_red;
    }
  }

  .error {
    position: absolute;
    bottom: -20px;
    color: $secondary_red;
    font-size: 15px;
    font-family: $poppins_italic;
    @include showLines(1)
  }
}

.linkItem {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@include mobile() {
  .searchSection {
    margin-top: 140px;
    padding: 20px;
  }
  .itemsContainer {
    flex-direction: column;
    padding: 20px;
    height: 180px;
    gap: 40px;
    margin-top: -110px;
    background-image: url('../../../../public/images/bg-shorten-mobile.svg');
    background-repeat: no-repeat;
    background-position: top 0 right 0;
  }

  .emailAndError {
    width: 100%;
  }
}