@import "../../../styles/sass/root";

.introContainer {
  padding: 50px 0 120px 205px;
  display: flex;
  justify-content: space-between;
  gap: 100px;

  img {
    width: 60%;
    margin-right: -50px;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  h1 {
    font-size: 4.5rem;
    color: $neutral_dark_blue;
  }

  p {
    color: $neutral_gray;
    line-height: 1.5;
    font-size: 1.2rem;
  }
}

@include mobile() {
  .introContainer {
    padding: 20px;
    overflow: hidden;
    flex-direction: column-reverse;
    gap: 70px;

    img {
      width: 130%;
    }
  }

  .intro {
    align-items: center;
    text-align: center;

    h1 {
      font-size: 3rem;
    }
  }
}