@import "styles/fonts/Poppins/poppins.css";
@import "styles/fontawesome/css/fontawesome.css";
@import "styles/fontawesome/css/brands.css";
@import "styles/fontawesome/css/solid.css";
@import 'styles/sass/root.scss';

body {
  font-family: "Poppins Medium", Helvetica, sans-serif;
  font-size: 18px;
  min-height: 100vh;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}