@import "../../styles/sass/root";

.cardContainer {
  background-color:$color_white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .imgWrapper {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color:$primary_dark_violet;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -60px;
  }

  p {
    color: $neutral_gray;
    line-height: 1.5;
    font-size: 1rem;
    @include showLines(4);
  }
}

@include mobile() {
  .imgWrapper {
    margin: -60px auto auto;
  }
}